/* Fixes carousel size on large screens */
@media (min-width: 992px) {
    .carousel-item {
        height: 25em;
    }
    .carousel-inner .carousel-item img{
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
}

/* Sets background image for jumbotron */
#gear-jumbotron.jumbotron{
    background: url("../images/other/gear-1.jpg")
            center center;
    background-size: cover;
}

/* Fixed background image position on large screens */
/* Why the hell are my wildcard selectors not working? */
@media (min-width: 992px) {
    header#gear-jumbotron.jumbotron{        
        background-position: 50% 30%;
    }
}

/* Sets jumbotron color and stroke */
/* Not sure why increasing font size makes the jumbotron larger */
.jumbotron h1{
    color: #FFFFFF;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.jumbotron p{
    color: #FFFFFF;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

/* Sets button text when clicked. Should combine these later */
#specials-table .btn-primary:before {
    content:'Click for details'
}
#specials-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
}
#subs-table .btn-primary:before {
    content:'Click for details'
}
#subs-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
}

/* Used for Masonry */
.grid {
    background: #DDD;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-sizer, 
.grid-item {
    width: 33.333%;
}
.grid-item {
    float: left;
}
.grid-item img {
    display: block;
    max-width: 100%;
}

/* I forgot why this is here ¯\_(ツ)_/¯ */
.tab-content {
    padding:10px;
    border-left:1px solid #DDD;
    border-bottom:1px solid #DDD;
    border-right:1px solid #DDD;
}