/*@font-face {
    font-family: 'Splatoon2';
    src: url('fonts/splatoon2-font/splatoon2-webfont.ttf') format('truetype'),
        url('fonts/splatoon2-font/splatoon2-webfont.svg') format('svg'),
        url('fonts/splatoon2-font/splatoon2-webfont.eot') format('eot'),
        url('fonts/splatoon2-font/splatoon2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

/* Fixes carousel size on large screens */
@media (min-width: 992px) {
    .carousel-item {
        height: 25em;
    }
    .carousel-inner .carousel-item img{
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
}

/* Sets background image for gear jumbotron */
#gear-jumbotron.jumbotron{
    background: url("../images/jumbotron/gear-jumbo-3.jpg")
            center center;
    background-size: cover;
}
/* Sets background image for brands jumbotron */
#brands-jumbotron.jumbotron{
    background: url("../images/jumbotron/brands-jumbo-1.jpg")
            center center;
    background-size: cover;
}

/* Changed image size so these aren't necessary. Saving them just in case */
/*@media (max-width: 575px) { 
    #gear-jumbotron.jumbotron{
        background-size: 350%;
        background-position: 50% 45%;
    }    
}
@media (max-width: 767px) {
    #gear-jumbotron.jumbotron{
        background-size: 300%;
        background-position: 30% 45%;
    } 
}
@media (max-width: 991px) { 
    #gear-jumbotron.jumbotron{
        background-size: 180%;
        background-position: 100% 50%;
    } 
}
@media (max-width: 1199px) { 
    #gear-jumbotron.jumbotron{
        background-size: 150%;
        background-position: 0% 50%;
    } 
}*/

/* Sets jumbotron color and stroke */
/* Not sure why increasing font size makes the jumbotron larger */
.jumbotron h1{
    color: #EFF66E;
    font-family: 'splatoon2regular', Helvetica, sans-serif;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.jumbotron p{
    color: #EFF66E;
    font-family: 'splatoon2regular', Helvetica, sans-serif;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

/* Sets button text when clicked. Should combine these later */
#specials-table .btn-primary:before {
    content:'Click for details'
}
#specials-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
}
#subs-table .btn-primary:before {
    content:'Click for details'
}
#subs-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
}

/* Used for Masonry */
.grid {
    background: #DDD;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-sizer, 
.grid-item {
    width: 33.333%;
}
.grid-item {
    float: left;
}
.grid-item img {
    display: block;
    max-width: 100%;
}

/* I forgot why this is here ¯\_(ツ)_/¯ */
.tab-content {
    padding:10px;
    border-left:1px solid #DDD;
    border-bottom:1px solid #DDD;
    border-right:1px solid #DDD;
}